body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    }
    .login-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 300px;
    }
    form {
    display: flex;
    flex-direction: column;
    }
    label {
    font-weight: bold;
    margin: 10px 0 5px;
    }
    input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    }
    button {
    margin-top: 20px;
    padding: 10px;
    background-color: #667eea;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    }
    button:hover {
    background-color: #5a67d8;
    }
   footer {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top:20px;
   }